<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>
    <h1>Hi, I'm Jeff</h1>
    <h2>The awesome dude who built this CRM app</br></h2>
    <p>While my dude powers are at awesome level, my developer
    skills are very much under *development* (pun intended).</p>
    <p><a href="/">Back to home page</a></p>
  </body>
</html>
