<h1>Contact to delete:</h1>
<div class="contact">
  <p>Name: <%= @contact.full_name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>notes: <%= @contact.note %></p>
</div>
<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>

  <input type='submit' value='Delete Contact'>
</form>
