<form class="" action="/contacts/search-by" method="get">
  <fieldset>
    <legend>Search by:</legend>

    <label for="search-by-name">
      <span>Name</span>
      <input id="search-by-name" type="radio" name="attribute" value="name">
    </label>

    <label for="search-by-email">
      <span>Email</span>
      <input id="search-by-email" type="radio" name="attribute" value="email">
    </label>
  </fieldset>

  <input type="search" name="query" value="">

  <button type="submit" name="search">Search</button>
</form>
